body {
  margin: 0;
  height: 100vh;
  color: black;
}

#root,
.App {
  height: 100%;
  display: flex;
  position: relative;
  background: #adadad;
}

.App .main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
}

.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
}

.sidebar-btn {
  padding: 1px 15px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  color: #adadad;
  text-decoration: none;
  margin: 0 auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-btn span {
  margin-left: 10px;
  font-size: 13px;
}

.App .PageLayout {
  margin-left: 10px;
  padding-left: 262px;
  width: 100%;
  display: flex;
}

.App .Header {
  position: fixed;
  top: 0;
  height: 100%;
}

.App .PageLayout .Page {
  padding-top: 10px;
  padding-left: 50px;
}

.App .PageLayout .tableContainer {
  border-radius: 15px;
}

.App .PageLayout .TableHeader {
  font-weight: bold;
  background: #383636;
  color: white;
}
.App .PageLayout .tableSecondHeader {
  font-weight: bold;
  background: #b6b6b6;
  color: black
}

.App .PageLayout .refresh_icon {
    color: white;
}

.App .PageLayout .avatar {
    background: #2c9b9f;
    color: white;
}

.App .PageLayout .name {
  font-weight: bold;
  margin-top: 3px ;
}