body {
  margin: 0;
  height: 100vh;
  color: black;
}

#root,
.App {
  position: relative;
  font-size: 100%;
  min-height: 100%;
  background-size: 100% 100%;
  background: #adadad;
}

.error {
  color: red;
}

.App .main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
}

.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 24px;
}

.sidebar-btn {
  padding: 1px 15px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  color: #adadad;
  text-decoration: none;
  margin: 0 auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-btn span {
  margin-left: 10px;
  font-size: 13px;
}

.App .PageLayout {
  height: 96%;
  width: 75%;
  margin-left: 270px;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.About {

}

.App .Header {
  position: fixed;
  top: 0;
  height: 100%;
}

a:hover {
  color: rgba(227, 212, 80, 0.87);
}


.App .PageLayout .tableContainer {
  border-radius: 15px;
  margin-left: 50px;
}

.App .PageLayout .TableHeader {
  font-weight: bold;
  background: #383636;
  color: white;
}
.App .PageLayout .tableSecondHeader {
  font-weight: bold;
  border-radius: 15px;
  background: #b6b6b6;
  color: black;
}

.App .PageLayout .refresh_icon {
    color: white;
}

.App .PageLayout .avatar {
    background: #2c9b9f;
    color: white;
}

.App .PageLayout .name {
  font-weight: bold;
  margin-top: 3px ;
}

.App .PageLayout .Paper {
  border-radius: 15px;
  padding: 50px 50px;
  margin-left: 50px;
}

.App .PageLayout .Dialog {
  display: flex;
  justify-content: center;
  width: 60%;
}
.App .PageLayout .MultipleOptionsList {
  margin-top: 8px;
}
.AboutPage {
  line-height: 1.5;
  margin-left: 270px

}

.PaperAbout {
  border-radius: 15px;
  padding: 20px 80px 80px;
  line-height: 1.5;
  margin: 0;
}

.AboutPage .Card{
  border-radius: 20px;
}

